body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header img {
  height: 200px;  
  width: auto;
  display: block; 
  margin: 10px auto;
}

img {
  border-radius: 20px;
}

nav {
  display: inline-block;
  align-items: center;

}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;  
  margin-right: 10px;  
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

section {
  margin: 15px;
  padding: 10px;
  background: #e8e8e8; 
  border-radius: 5px; 
}

section h2 {
  color: #333;  
  margin-bottom: 10px; 
}

section p {
  color: #666;  
  line-height: 1.5; 
}

footer {
  background: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  header img {
    height: 100px; 
  }
}