body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('L1000974.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik Iso', cursive;
  font-size: 36px;
}

header {
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0;
}

nav {
  display: inline-block;
  align-items: center;

}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;  
  margin-right: 40px;  
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  color: #ffffff;
  font-size: 10px;
  text-align: end;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 50px;
  padding-top: 3em;
}
.bold {
  font-weight: 900;
}

nav ul li:nth-child(1) a {
  color: rgb(175, 171, 171);
}

@media screen and (max-width: 500px) {
  header img {
    height: 100px; 
  }
}